<%= form_tag new_path do %>
  <label>New Student</label><br>
  <%= text_field_tag :'student[first_name]' %><br>

  <label>Last Name::</label><br>
  <%= text_field_tag :'student[description]' %><br>

  <%= submit_tag "Submit Post" %>
<% end %>
